@model ASP_EF_App1.Models.Project
<table>
    <tr>
        <td>ProjectId</td>
        <td><strong>@Model.ProjectId</strong></td>
    </tr>
    <tr>
        <td>ProjectName</td>
        <td><strong>@Model.ProjectName</strong></td>
    </tr>
    <tr>
        <td>Platform</td>
        <td><strong>@Model.Platform</strong></td>
    </tr>
    <tr>
        <td>Client</td>
        <td><strong>@Model.Client</strong></td>
    </tr>
    <tr>
        <td>Duration</td>
        <td><strong>@Model.Duration</strong></td>
    </tr>
</table>
